.wrapper {
    padding-top: 50px;
    background-image: url("http://www.glittergraphics.org/img/123/1236700/barbie-background-wallpaper.jpg");
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    color:rgb(167, 57, 93);
}
